---

---

<div
  class='flex justify-center items-center bg-gray-200 rounded-xl shadow-xl shadow-slate-900 m-16 w-[1080px] h-[210px] px-40'
>
  <span class='text-4xl font-extrabold text-opacity-70 text-gray-500'> TU ANUNCIO ACA 🚀</span>
</div>
