---
const twitchCanal = 'ibai';
---

<div id='StreamCard' class='flex flex-row justify-center gap-10 pt-14 w-full h-screen pb-20'>
  <iframe
    src=`https://player.twitch.tv/?channel=${twitchCanal}&parent=la-plaza-seven.vercel.app`
    allowfullscreen='true'
    id='twitch-embed'
  >
  </iframe>

  <iframe
    id='twitch-chat'
    src=`https://www.twitch.tv/embed/${twitchCanal}/chat?parent=la-plaza-seven.vercel.app`
    width='300'
  >
  </iframe>
</div>

<style>
  #twitch-embed {
    width: 60vw;
    border-radius: 2%;
  }
</style>

<script src='../../utils/gsap.js'></script>
