---
import Layout from '../layouts/Layout.astro';
import StreamCard from '../components/stream/StreamCard.astro';
import Loading from '../components/ui/Loading.astro';
---

<Layout title='La Plaza'>
  <main id='main_home' class='flex flex-col items-center flex-co w-full h-screen'>
    <h1 class='text-6xl pt-14 font-black text-white'>
      <!-- BIENVENIDO A <span class='text-gradient'>LA PLAZA</span> -->
    </h1>

    <Loading />

    <div id='streamCard' class='streamCard duration-500'>
      <StreamCard />
    </div>
  </main>
</Layout>

<script></script>
