---
import Layout from '../layouts/Layout.astro';
import StreamCard from '../components/stream/StreamCard.astro';
import Loading from '../components/ui/Loading.astro';
import Banner from '../components/ads/Banner.astro';
---

<Layout title='La Plaza'>
  <main id='main_home' class='flex flex-col items-center flex-co w-full h-full min-h-screen'>
    <Banner />

    <!-- <Loading /> -->

    <StreamCard />
  </main>
</Layout>
