---

---

<header>
  <nav
    class='w-full bg-black bg-opacity-20 text-white text-lg py-6 font-light px-2 md:px-12 flex items-center md:justify-between'
  >
    <div class='relative w-24 md:w-48'>
      <img
        src='/images/logos/logo_white.webp'
        alt='La Plaza Logo'
        class='absolute h-8 transition-opacity duration-500 hover:opacity-0'
      />
      <img src='/images/logos/logo_gradient.webp' alt='La Plaza Logo Gradient' class='h-8' />
    </div>
    <ul class='flex gap-10'>
      <li><a href='#about'>Sobre Nosotros</a></li>
      <li><a href='#work'>Clips</a></li>
      <li><a href='#contact'>Contacto</a></li>
    </ul>
  </nav>
</header>

<style>
  @font-face {
    font-family: 'ShantellSans';
    src: url('fonts/ShantellSans-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: lighter;
  }
  header,
  nav {
    font-family: 'ShantellSans', sans-serif;
    font-weight: lighter;
  }
</style>
